@font-face {
    font-family: BarlowThink;
    src: url(BarlowCondensed-Thin.otf);
}
body{
    margin: 0%;
    justify-content: center;
}
.form{
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: BarlowThink;
    color: #2A4A5C;
    font-size: 2vh;
}
.left_form{
    width: 50vw;
    height: 100vh;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.left_form-img{
    background-image: url(../img/bg.jpg) ;
    background-size:cover;
    width: 100vw;
}
.left_form-logo{
    position: absolute;
    top: 3vh;
    left:3vw;
    height: 4vh;
}
.right_form{
    width: 50vw;
    background-color: rgb(255, 255, 255);
    padding: 5vw;
    padding-top: 3vw;
    
}
.right_form_link{
    display: flex;
    justify-content: space-between;
}
.right_form_link-facebook,.right_form_link-linkedin{
  background-color: #255A9B;
  color: white;
  width: 40%;
  padding: 1vw;
  font-size: 2vh;
  margin-top: 3vh;
}
.right_form_link-linkedin{
 background-color: #0076B6;
}
.right_form_link-facebook_img,.right_form_link-linkedin_img{
 width: 2vh;
 padding-right: 10%;
}
.right_form_link-facebook:hover,.right_form_link-linkedin:hover{
    border: 2px solid black;
}
.right_form-hr{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
.right_form-hr_height{
    width: 20%;
    height:1px;
    border:none;
    background-color:#2A4A5C ;
}
.right_form-hr_text{
    margin-left: 2%;
    margin-right: 2%; 
}
.right_form-input{
    display: flex;
    justify-content: space-between;
}
.right_form_input-Email,.right_form_input-number{
    width: 45%; 
    height: 6vh;    
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.right_form_input-number:hover::placeholder,.right_form_input-Email:hover::placeholder {
    transform: translateY(-10px);
  }
  .right_form_input-Email:hover,.right_form_input-number:hover{
      border: 1px solid rgb(0, 0, 0);
      border-left: 4px solid #3698FB; 
  }
  .right_form_input-Email:focus,.right_form_input-number:focus{
    outline: 0; 
}
.right_form-radio{
    display: flex;
    justify-content: space-between;
}
.right_form_radio-radio input {
    display: none;
}

.right_form_radio-radio span,
.right_form_radio-radio1 {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #F5F5F5;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
    margin-left: 40px;
}

.right_form_radio-radio input:checked+span {
    background: #3698FB;
}

.right_form_radio-radio input:checked+span::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    background: #fff;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.right_form-info {
    margin-top: 3vh;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 5px;
    padding-top: 0px;
    color: #7B8A92;
}
.right_form-checkbox{
    margin-top: 3vh;
    color: #7B8A92;
}
.right_form-submit{
    margin-top: 3vh;
    font-family: BarlowThink;
    font-size: 20px;
    border: none;
    background-color: #3698FB;
    width: 300px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}